[2018-03-04 19:21] 0xIn7rud3r opened #2 "Wild Card Check Issue."
wild card check doesn't seems to be working with alteration functions. it keeps resolving altered subdomains even if its wildcard domain.

[2018-03-04 20:03] caffix commented on #2
Thanks. I’ll take a look at what happened.

[2018-03-06 23:27] caffix commented on #2
The problem should be fixed now. Of course, there are multiple reasons why the wildcard detection can fail anyway depending on how DNS server respond, etc. Please let me know if it still does not appear to be back to normal. Otherwise, I'll close the issue.

[2018-03-08 20:49] dan1t0 opened #3 "[IDEA] Remove \r from the output"
Hi!
I was using your tool. It is very nice, but It is a bit tricky to parse the output in linux/mac because at the begin to a new subdomain the tool adds "\r".

I did a small change to solve it erase the "\r" in main.go (lines 130 and 132)

Thank you in advance!

[2018-03-08 21:16] caffix commented on #3
Thank you for the feedback! I'll be fixing it tonight.

[2018-03-09 07:39] CharlieEriksen opened #4 "[Idea] Add verbose output"
Is there any chance to add a verbose output, which outputs what's being done, and with which "method" a subdomain was found? It'd be very helpful, to compare subdomain discovery tools, and figure out more novel methods to find subdomains on a specific domain :)

[2018-03-09 08:38] abusaidm opened #5 "unable to go get"
Hello,

I am unable to download and build using go get:

[code]

System MacOS : 10.12.6
Go                     : 1.9.2

hope this helps.

[2018-03-09 09:01] bmoar opened #6 "[idea]: subdomain guess blacklist"
Hi caffix, love the work you've done.

I ran into a case where a wildcard domain was not being picked up, however manually inspecting the results makes it very obvious anything in the pattern `<keyword>-[0-9]+.system.<thedomain>.com` was wildcarded.

It would be great if we could supply a blacklist of subdomains (or even regex patterns as a "nice to have") that we know are wildcarded, so we can sk

[2018-03-09 09:50] stephenpaulger commented on #5
You'll need to upgrade to Go 1.10 that's when the Shuffle function was added.

[2018-03-09 10:27] dan1t0 commented on #3
Take care because if "\r"'s are removed directly the output in window systems will be affected. Something like this could be a good fix https://stackoverflow.com/a/19847868 :-)

Cheers!!

[2018-03-09 15:23] cretz opened #7 "[IDEA] Use Certificate Transparency Logs"
E.g. https://crt.sh/?q=%25.example.com. Doesn't help w/ wildcard certs, but until LE gets them and while lots of people now use LE, it is quite effective.

[2018-03-09 15:25] cretz commented on #7
Oops, appears already present, my mistake.

[2018-03-09 15:25] #7 closed

[2018-03-10 02:06] caffix commented on #4
I think that is an excellent idea. I have it working now by providing the switch "-vv" to amass. It will be in the next commit.

[2018-03-11 01:41] caffix commented on #5
Yes, amass requires Go version 1.10.

[2018-03-11 01:41] #5 closed

[2018-03-11 01:44] caffix commented on #3
I believe this problem has been fixed in the latest release.

[2018-03-11 01:44] #3 closed

[2018-03-11 01:45] caffix commented on #4
The new release includes implementation of your idea. Please let me know what you think.

[2018-03-11 21:31] CharlieEriksen commented on #4
Seems to do the trick!

[2018-03-11 21:31] #4 closed

[2018-03-11 21:32] CharlieEriksen opened #8 "Recursive bruteforce memory issue"
Seems like the new recursive bruteforce option is a giant memory hog. It'd be nice to be able to limit the recurse depth.

[2018-03-11 22:07] CharlieEriksen commented on #8
Actually, doesn't seem to be due to recursive. I get it on the latest build even with -norecursive . Weird!

[2018-03-11 22:50] #2 closed

[2018-03-12 14:05] random-robbie opened #9 "Errors"
Go Lang 1.10 x64

ubuntu 16.04  x64

VPS: Vultr $5 1GB ram

command

[code]

result:
[code]

[2018-03-12 18:52] caffix commented on #9
Thanks for the feedback. I have discovered the problem, fixed it, and will be performing a commit soon.

[2018-03-12 21:42] #9 closed

[2018-03-12 21:44] caffix commented on #8
Can you build from the latest commit and see if you're experiencing the same problem? Thanks!

[2018-03-12 23:59] caffix commented on #6
I really like the idea! So, a file that contains subdomains that will not be investigated. Should the file contain lines such as the following?

*.system.example.com
*.another.system.example.com

How would you propose formatting the lines provided within the file?

[2018-03-13 05:14] jaikishantulswani opened #13 ""math/rand".Shuffle"
Getting error /github.com/caffix/amass/amass/dns.go:381:2: undefined: "math/rand".Shuffle while installing

[2018-03-13 05:37] caffix commented on #13
The rand.Shuffle function is new to Go 1.10. Please check your version of Go.

[2018-03-13 06:02] #13 closed

[2018-03-14 09:46] BBerastegui commented on #6
Hi !

I got to this issue for exactly the same reason :)

Actually, you can implement something like Gobuster is doing for this detection of wildcard domains: https://github.com/OJ/gobuster/blob/master/libgobuster/dns.go#L14

My two cents !

[2018-03-14 10:28] mingrammer opened #15 "There is a typo"
There is a typo in example for `-vv`.

`amass -vv example` should be changed to `amass -vv example.com` I think.

[2018-03-14 12:02] BBerastegui commented on #8
Hi !

I was running the latest build and I got into the same problem:

`fatal error: runtime: out of memory                                                                                                                                                                     [1346/1705]

runtime stack:
runtime.throw(0x79a6a6, 0x16)
        /usr/local/go/src/runtime/panic.go:619 +0x81
runtime.sysMap(0x

[2018-03-14 12:43] caffix commented on #8
Can you please show me how the tool was executed?

[2018-03-14 12:44] caffix commented on #15
Thanks! I have now fixed the typo.

[2018-03-14 12:44] #15 closed

[2018-03-14 12:45] BBerastegui commented on #8
```amass -brute [DOMAIN].com -o /out.txt```

I got a couple of results, and after that, the crash.

I was running it inside a container, with image ```golang:1.10``` in a host with 3GB of RAM.

[2018-03-14 13:44] BBerastegui commented on #8
I think it got crazy with the goroutines:

`goroutine 76525 [chan send]:
github.com/caffix/amass/amass.(*reverseDNSLookup).Search(0xc4203d6180, 0x7ffeb9c8df14, 0xa, 0xc428d02480, 0xe, 0xc441c7e540)
        /go/src/github.com/caffix/amass/amass/reverseip.go:271 +0xad
created by github.com/caffix/amass/amass.(*ReverseIPService).executeAllSearches
        /go/src/github.com/caffix/amass/amass/reverse

[2018-03-14 15:37] caffix commented on #8
Thank you for the useful details. I have slowed down the brute force name generation, as to not overwhelm the other services within the tool. After the next commit, the results should be different.

[2018-03-14 16:16] caffix commented on #6
The amass tool does have extensive wildcard detection built in. Sometimes, results received by DNS queries can still throw off the accuracy of the test. I have made improvements to the wildcard detection in recent commits. Please rebuild the tool using the latest source code, and let me know if you're experiencing the same issue. Thanks.

[2018-03-14 17:42] kerberosmansour opened #16 "Feature Request - Pull Subdomains from SANS field in TLS Certificates"
Hi great tool, I often find that you can pull additional sub-domains via the alternative names field in a cert.
- E.g. pull the example.com cert, find the SANS (Alternative Names) Domains, some of those are sub-domains and a handy way to find more sub-domains

[2018-03-14 20:13] caffix commented on #16
I am implementing your request right now. I will be in the next commit.

[2018-03-15 00:38] caffix commented on #16
This feature is in the latest release, so I'm closing the issue. Thank you for the request.

[2018-03-15 00:38] #16 closed

[2018-03-15 12:52] BBerastegui commented on #8
Just FYI, it's still giving me the same error after running the command:

```amass [REDACTED].com -vv -l```

The container baseline is the following one:

[code]

Crash log (truncated):

[code]

[2018-03-15 16:43] kerberosmansour commented on #16
Thanks Jeff, I’ll take a look and add another request soon :-)

On Thu, 15 Mar 2018 at 12:38 am, Jeff Foley <notifications@github.com>
wrote:

[2018-03-16 02:04] blshkv opened #17 "inconsistent false positive output"
I ran the tool few times and got a very different results:

[code]
[code]
[code]

any ideas what's wrong?

The tools was compiled with the following deps (latest git commits):
[code]

[2018-03-16 02:24] caffix commented on #17
The output from amass can come out in a different order each time you run it, due to the fact that goroutines are completing differently each time. The example you provided looks like a case of a DNS wildcard not being detected properly. Improvements were just recently made to the wildcard detection, and would make it worth rebuilding from the latest source code.

[2018-03-16 02:27] caffix commented on #17
Please let me know if you continue to experience the problem so that we can hunt down the issue. Thanks!

[2018-03-16 02:41] blshkv commented on #17
I used the latest release 1.1.0 (1 day old). There are 3 commits after that but I don't see anything related.

[2018-03-16 02:54] blshkv commented on #17
the latest code is no different:
[code]

[2018-03-16 05:45] caffix commented on #17
Can you share additional details on the target domain(s) over other communication channels? That way, I can get a better understanding of what is going wrong.

[2018-03-16 06:46] blshkv commented on #17
how can I do it?

[2018-03-16 06:50] blshkv commented on #17
[code]

[2018-03-16 07:32] h3ku commented on #17
Maybe some of the Searches services are blocking the requests causing fewer results?

I have not looked yet on what amass do when a Search service like google block de excessive requests showing a captcha or similar.

[2018-03-16 07:37] kerberosmansour opened #18 "Given an IP/CIDR/ASN make a TLS connection on 443 pull all domains in the cert(s)"
As a penetration tester I want to know all the domains hosted on an org's data centre / internal network. As part of that effort I want to provide an IP/CIDR/ASN to a tool, and for each IP in the CIDR/ASN connect to that IP over 443 (or a list of ports) and from the cert pull the hostname and alt cert names as well.
I would like them to be sorted by domains then subdomains underneath.

**Note:** I

[2018-03-16 08:06] blshkv commented on #17
well, you should definitely check for border conditions and display a proper error instead of that random list of domains. I'll stick with https://github.com/aboul3la/Sublist3r until then

[2018-03-16 11:34] cappellem commented on #18
+1

[2018-03-16 14:23] caffix commented on #17
blshkv, you can direct message me on twitter (@jeff_foley) or linkedin (https://www.linkedin.com/in/caffix), and send me all the exact parameters you're passing to the amass tool.

Even if you decide not to do that, I will be adding an option that prevents alterations on subdomain names from being generated.

[2018-03-16 15:09] caffix commented on #18
I can sort the results for you in the output file, but the information on stdout gets printed real-time. Would this work for you?

[2018-03-16 21:09] kerberosmansour commented on #18
yeah sounds good

On Fri, Mar 16, 2018 at 3:09 PM, Jeff Foley <notifications@github.com>
wrote:

[2018-03-16 23:01] blshkv commented on #17
I prefer to send it here if you don't mind. I have already gave you the full output and ready to test your further commits. Let me know when it is ready

[2018-03-17 01:58] caffix commented on #18
The feature is coming along nicely, but will be requiring some testing. Want to play with it and let me know about opportunities for improvement?

[2018-03-17 03:29] kerberosmansour commented on #18
Yeah, I can give it a go tomorrow.
Is it on a different branch? Note I am on a mac so I tend to just take the
Mac binary.

On Sat, 17 Mar 2018 at 1:58 am, Jeff Foley <notifications@github.com> wrote:

[2018-03-17 03:49] caffix commented on #18
It’s on the master branch. Keep in mind, that every IP address you identify with the infrastructure options will cause a connection attempt on each port (default is 443) in order to pull a certificate. The traffic could become ridiculous. Yet, the subdomain names discovered will only become part of the output if they resolve to IPs within your parameters.

[2018-03-17 07:02] kerberosmansour commented on #18
Can you give me an example to test please?

[2018-03-17 13:53] caffix commented on #18
The following will print all of the options:

$ amass

There are three new switches related to your feature request: -asns, -cidrs and -ips

Any or all of them can be used when executed the tool.

Thanks!

[2018-03-17 19:10] kerberosmansour commented on #18
Is it up on github? It doesn’t look as it was updated in 3 days

On Sat, 17 Mar 2018 at 1:53 pm, Jeff Foley <notifications@github.com> wrote:

[2018-03-17 19:44] caffix commented on #18
The source code has been updated. No new releases have been created yet.

[2018-03-18 15:28] kerberosmansour commented on #18
Thanks I tested it and it works, didn’t yield as many results as I assumed
so will dig in deeper later.

On Sat, 17 Mar 2018 at 7:44 pm, Jeff Foley <notifications@github.com> wrote:

[2018-03-18 16:04] caffix commented on #18
I have noticed places where additional improvements can be made. I'll be working on those soon. Stay tuned!

[2018-03-18 23:09] kerberosmansour commented on #18
Looking forward to it!

On Sun, 18 Mar 2018 at 4:04 pm, Jeff Foley <notifications@github.com> wrote:

[2018-03-19 17:14] caffix commented on #18
I'll be making another commit soon, with a release following, that contains updates to this feature request.

[2018-03-19 21:14] kerberosmansour commented on #18
Cheers

On Mon, 19 Mar 2018 at 5:14 pm, Jeff Foley <notifications@github.com> wrote:

[2018-03-21 03:21] haccer commented on #17
Yeah, there's some sort of DNS validation issue. I'm also experiencing it using latest src:

Cmd ran: `./amass -brute -norecursive -o uber.txt -w all.txt -vv uber.com`
[code]

[code]

Not sure if this is wildcard related, but the false positive issue might stem from the resolvers, as I've experienced something similar with MassDNS.

[2018-03-21 15:33] caffix commented on #17
As a quick solution, the '-noalts' switch will reduce the number of these false positives. But I believe @haccer could be on to something, since I have noticed some poor reliability from some of the public DNS servers being utilized. I'll look into it further.

[2018-03-22 14:40] 0xhexmex opened #20 "False-positives with -brute option"
I'm seeing that the -brute option is returning domains that don't appear to exist. This is the latest 1.2.0 release downloaded today.

[code]

[code]

[2018-03-23 00:16] caffix commented on #20
Thank you for the feedback! I finally managed to experience the same issue, and am looking into what could be causing this problem. Stay tuned!

[2018-03-23 09:27] madaratech commented on #20
Might be bad name servers.. need to validate them before using and remove the bad one, once detected?

[2018-03-23 15:26] caffix commented on #20
@madaratech, you were exactly right! The Alternate DNS servers were returns fake answers when you queried for a name that didn't exist. Instead of sending back zero answers (like other servers), Alternate DNS sent back an A record with the IP address of their primary DNS server (198.101.242.72), which is also listening for traffic on port 80 and 443! Looks like a scam.

[2018-03-23 15:35] caffix commented on #17
This issue has finally been fixed! It was being caused by two of the DNS servers being utilized by amass. The Alternate DNS servers were returning fake answers when you queried for a name that didn't exist. Instead of sending back zero answers (like other servers), Alternate DNS sent back an A record with the IP address of their primary DNS server (198.101.242.72), which is also listening for traf

[2018-03-23 22:26] #20 closed

[2018-03-23 22:26] #17 closed

[2018-03-23 22:35] caffix commented on #6
I hunted down the problem that was giving you trouble. Please update amass to the latest version, and your experience should be quite different. Thanks!

[2018-03-23 22:35] #6 closed

[2018-03-23 22:37] caffix commented on #18
Since this feature appears to be working rather well, I'll be closing this issue. Let me know if you have additional ideas. Thanks!

[2018-03-23 22:37] #18 closed

[2018-03-23 22:39] caffix commented on #8
I finally experienced the memory issue you have been describing. I also had some help from 'go tool pprof' during my bug hunt! Please update to the latest version of amass, and let me know if you continue to experience the issue. Thanks!

[2018-03-23 23:01] kerberosmansour commented on #18
Thanks, will do

On Fri, Mar 23, 2018 at 10:37 PM, Jeff Foley <notifications@github.com>
wrote:

[2018-03-23 23:26] blshkv commented on #17
NOT fixed, please reopen:
[code]
[code]

[2018-03-23 23:29] caffix commented on #17
The new version is v1.2.1

[2018-03-23 23:31] blshkv commented on #17
Oops, I haven't woke up yet. I'm testing 1.2.1, seems working.

Thanks!

[2018-03-23 23:31] caffix commented on #17
Great!

[2018-03-28 13:25] BBerastegui commented on #8
I ran the same command as above with the latest version of amass and I got no problems at all :)

Thanks for your time, I'll keep testing amass and keep you updated !

\o

[2018-03-28 16:25] caffix commented on #8
Great! I appreciate the update and your assistance testing amass. I'll be closing this issue now.

[2018-03-28 16:25] #8 closed

[2018-03-28 23:15] infosecsecurity opened #23 "Getting error: cannot communicate with server: Post http://localhost/v2/snaps/amass:"
I'm getting this error when trying to install amass through snap

![screenshot from 2018-03-28 20-14-10](https://user-images.githubusercontent.com/7826342/38061193-ba0871ae-32c4-11e8-9f05-c328b58d8e9f.png)

[2018-03-29 05:34] dwisiswant0 opened #24 "Can't Install"
I got this error when installing:
[code]

[2018-03-29 05:45] caffix commented on #24
That error indicates that you are not using Go version 1.10 or higher. Upgrading Go will solve your problem.

[2018-03-29 05:45] #24 closed

[2018-03-29 05:49] dwisiswant0 commented on #24
Thanks. Solved.

[2018-03-29 14:43] infosecsecurity commented on #23
Found the solution. If you are using kali run systemctl start snapd.service after installing snapd

[2018-03-29 14:43] #23 closed

[2018-03-30 09:30] d3ad1Yb0073r opened #25 "unable to install with snap"
![screenshot_377](https://user-images.githubusercontent.com/33349450/38133036-1afbb0fe-342b-11e8-8c21-3048e285cf5d.png)

[2018-03-30 16:04] caffix commented on #25
It appears that you are using a 32-bit operating system. Currently, only a 64-bit snap package is available for amass. I imagine it would be easy enough to provide the 32-bit package as well.

[2018-03-30 17:49] d3ad1Yb0073r commented on #25
let me know if your are providing for 32 -bit

[2018-03-31 01:36] caffix commented on #25
Using snap, you can now get amass for the following architectures: i386, amd64, arm64 and armhf. Thanks!

[2018-03-31 01:36] #25 closed

[2018-04-04 10:19] jmg87 opened #27 ""No names were discovered" when used through a VPN"
I was testing the snap version and would only get this mesasge, no matter what domain or flags or combination of both tried:

No names were discovered. As soon as I disconnect from the VPN the program works. Attaching related journald logs:

-- Part 1 , connected to the VPN and tested amass. Result: Nothing. Not even an error message this time.
[code]
2- Disconnect from VPN, test again. Results as

[2018-04-04 16:05] caffix commented on #27
@jmg87, thank you for sharing your situation.

Question: When you're on that VPN, does the network allow you to reach the external DNS resolvers used by Amass?

If not, that would be the problem.

[2018-04-04 16:13] jmg87 commented on #27
No, it resolves the names through the VPN DNS servers and no petitions are allowed to external resolvers to preserve the privacy.  Totally understandable from an Opsec point of view but I see how it may be the issue. I haven't really checked the code as I am totally invalid for GO. Is this something that might be resolved in the future or is a "no way this will work" as for now? Anyway, thanks for

[2018-04-04 16:47] caffix commented on #27
I can create an option to specify your own DNS resolvers, which I can imagine others being interested in as well. Thoughts?

[2018-04-06 10:23] BBerastegui opened #28 "-net does not return results"
Hi !

I was testing the ```-net``` feature with a public CIDR, and I get no results at all:
[code]

Even though the following command works:
[code]

I think this "resolution" from a CIDR is being done by reversing the IP address and querying the PTR record, am I right?

https://github.com/caffix/amass/blob/6f601310b32e6d93d2451a02ffa0ed956ce0da4d/amass/dns.go#L621

P.S.: I'll drop you the CIDR I w

[2018-04-06 20:05] caffix commented on #28
I might have found the same bug you're experiencing. The fix will be in the next commit, and it would be great if you could test that it solved the problem.

[2018-04-06 21:10] caffix commented on #27
@jmg87, please let me know if the new options allow you to use amass in your situation. Thank you.

[2018-04-08 04:36] jmg87 commented on #27
Hi, no, it' s not working yet. When connecting to the VPN resolvconf updates the nameserver entry on resolv.conf to nameserver fe80::1%enp6s0 , but that interface is not being used, the correct one should be tun0 I think. As a result all the queries time out because that interface is not going to respond until tun0 goes away. I'll see if I can fix this  and let you know how.

[2018-04-08 04:57] caffix commented on #27
And you specified the new resolver using the amass ‘-r’ switch?

[2018-04-08 14:27] CharlieEriksen opened #29 "noalts doesn't work"
The -noalts flag doesn't seem to work at all. No matter what I've tried, it always does alternations.

[2018-04-08 18:51] caffix commented on #29
Thanks @CharlieEriksen! I appreciate the helpful feedback. This bug is now fixed, and will be in the next commit.

[2018-04-08 19:09] CharlieEriksen opened #30 "Blacklist subdomain option?"
Would it be possible to add in a flag, which would ignore the result of a certain subdomain?

Say I have a DNS entry like xxx.cdn.company.tld. I may not care about anything related to cdn.company.tld, so I would want to just have amass ignore it entirely, at least for the purposes of bruteforce, and alterations.

[2018-04-08 19:19] CharlieEriksen opened #31 "Minimum-subdomains to trigger recursive scanning?"
Hey,

One problem I run into seems to be that I'll hit a bunch of subdomains on a domain, and there'll be a ton of subbruting happening. That's not always bad, but..

Say that I have these 4 results from just basic results without any alterations/brute-forcing
123.vpn.corp.tld
1234.vpn.corp.tld
12345.vpn.corp.tld
test.cdn.corp.tld

In this case, I would like to do alterations/sub-bruiting on .vpn.

[2018-04-09 04:58] caffix commented on #31
I like the feature, and it is quite feasible.

[2018-04-09 05:03] caffix commented on #30
This can be done. Others have requested a similar feature, so I’ll be sure to make it happen. Thanks!

[2018-04-10 23:02] caffix commented on #31
The feature has been added, so I'll be closing this issue. Thank you for the idea.

[2018-04-10 23:02] #31 closed

[2018-04-11 01:33] caffix commented on #30
This feature is now implemented, so I'll close the issue. Thank you for the request.

[2018-04-11 01:33] #30 closed

[2018-04-11 12:44] ScatteredThoughts opened #32 "Write output to file in chunks instead of at end of run."
I have a search which as been running for hours, and see plenty of results displayed in terminal, but nothing at all in the output file. It would be nice if amass wrote data to the output file as it is found or in bursts after a threshold is reached. It appears that now it only writes the file after all of the results have been found.

[2018-04-11 16:07] caffix commented on #29
I'll assume that this is no longer giving you trouble and close the issue. Thanks for the feedback!

[2018-04-11 16:07] #29 closed

[2018-04-11 18:41] caffix commented on #32
Amass now flushes the file after making 10 new discoveries. Thank you for bringing this to my attention.

[2018-04-11 18:41] #32 closed

[2018-04-12 02:14] caffix commented on #28
I'm going to assume that the fix solved what you were experiencing. Thank you for the feedback!

[2018-04-12 02:14] #28 closed

[2018-04-12 08:04] olihough86 opened #33 "Small issue with the README example for the Config object."
domains is not an exported property of the Config object (https://github.com/caffix/amass/blob/master/amass/config.go#L69) so the example under "Integrating Amass into Your Work" will fail.

Instead maybe it should be changed to use Config.AddDomains()   https://github.com/caffix/amass/blob/master/amass/config.go#L95

[2018-04-12 16:05] caffix commented on #33
Good catch! Thank you for bringing this to my attention. The configuration code was modified some time ago, and this example did not get updated with it. I'll fix this today, but in the future, please consider contributing by providing a pull request.

[2018-04-12 16:08] olihough86 commented on #33
I'm pretty new to this and wasn't sure if making a PR was the right thing to do. I can do it later on today

[2018-04-12 16:16] caffix commented on #33
This issue should be all set, but I'm sure there are other places where your contributions will be valuable to the project. Thanks again!

[2018-04-12 16:16] #33 closed

[2018-04-15 22:24] BBerastegui commented on #28
It's now working for the CIDR I was testing it with.

Cheers !

[2018-04-22 14:16] infosecsecurity opened #34 "Amass panic"
I'm getting this panic error. Any ideas?
![amass error](https://user-images.githubusercontent.com/7826342/39095911-9687c15e-461e-11e8-9c85-95623193edc3.jpg)

[2018-04-22 14:50] madaratech commented on #34
@caffix not sure why, but amass work very well without the brute option, but if I'm using `-brute` options it takes endless time to complete the result, not sure exact reason for now, just an observation to share for now.

[2018-04-22 15:28] caffix commented on #34
@madaratech, using brute forcing does add many additional DNS queries, which increases the time needed for the tool to finish execution. Perhaps try using some of the flags that control recursive brute forcing. Reducing the recursive tasks can definitely speed up the tool.

[2018-04-22 15:32] caffix commented on #34
@infosecsecurity, the double close is happening on the 'stop' channel that is internal to the crawler. I found one piece of code within Amass that could potentially be contributing to this error and will be pushing the change within the hour. Please let me know the impact it has on your situation. Thanks!

[2018-04-22 15:51] infosecsecurity commented on #34
@caffix , thank you

[2018-04-22 17:55] infosecsecurity commented on #34
Hey @caffix is the updated code available through snap?

[2018-04-22 18:29] caffix commented on #34
I changed it to a stable release in snap. A snap refresh should now get you the update.

[2018-04-22 18:39] infosecsecurity commented on #34
Thanks @caffix I'm running amass again with the -brute tag. I will let you know when it finishes

[2018-04-22 20:27] infosecsecurity commented on #34
@caffix  I ran amass -brute -d site.com and i didn't get the error but it found much less subdomains this time. I will ran it again just in case

[2018-04-22 20:57] caffix commented on #34
@infosecsecurity asn.shadowserver.org appears to be down right now, which is causing problems for Amass. All the other services within Amass appear to be working correctly.

[2018-04-23 01:24] caffix commented on #34
shadowserver has since come back online

[2018-04-23 19:52] caffix commented on #34
@infosecsecurity, is Amass now producing the expected number of results for you?

[2018-04-23 20:44] infosecsecurity commented on #34
Hey, @caffix I'm running the script again, it hasn't finished yet, but I had to run with the -r flag otherwise I won't get many subdomains.

[2018-04-24 14:31] infosecsecurity commented on #34
Hey @caffix it seems to be working now. Thanks for your time.

[2018-04-24 14:31] #34 closed

[2018-04-27 22:20] infosecsecurity opened #35 "Write output to file"
Not sure if i'm the only one having this issue, but i ran amass -o out.txt -d domain.com against a domain which has only 3 subdomains and the out.txt was empty. Then i ran amass against a domain which has 11 subdomains and the subdomains was add to the out.txt file. Any ideas?

[2018-04-27 22:24] caffix commented on #35
I think I know the reason

[2018-04-28 17:52] infosecsecurity commented on #35
hey @caffix I will let you know. Thanks for your time.

[2018-04-28 18:07] infosecsecurity commented on #35
Looks great. Thanks once again

[2018-04-28 18:07] #35 closed

[2018-05-03 09:08] codingo opened #36 "Master fails to build (trace included)"
Running go get on the latest version of master fails to build with the following error:

[code]

I'm planning to pull from the latest release tag to resolve this but I've snapshotted at this point in case you require any further testing. I doubt it plays into this but here's some further versioning information:

[2018-05-03 09:45] haccer commented on #36
@codingo Your Go version isn't compatible. You need Go >= 1.10 environment, as specified in the README.md

[2018-05-28 06:16] superuser5 opened #38 "crash during ASN enumeration"
Hello,
this is great tool, awesome job! thank you!

I would like to report a consistent crash that I have experienced while running ASN enumeration:

/snap/bin/amass -active -brute -whois  -v -ip   -json output.json -o output.txt net -asn XXXXX | tee log

I run it on the server with stable network and 8gb RAM.

~# snap install --edge amass
amass (edge) v1.5.2 from 'caffix' installed

crash output:

[2018-06-01 19:48] securitybites opened #39 "install issue"
When running `go get -u github.com/caffix/amass`, I get the following error:

[code]

[2018-06-01 19:49] securitybites commented on #39
I was running this on OSX.

[2018-06-02 18:55] caffix commented on #39
encoding/base32 is part of the Go standard library. The meikg/dns package doesn't appear to be using it incorrectly.

[2018-06-02 18:56] caffix commented on #38
Major changes have been made to this tool today. Would you please run this enumeration again using the updated version? If you still have the same problem, I'll be happy to investigate it.

[2018-06-02 18:57] #27 closed

[2018-06-02 20:32] samuel823 opened #40 "hi"
did amass have shodan? and do i need to set any api key for that?

[2018-06-02 22:02] caffix commented on #40
I have never used data sources that require amass users to obtain/provide API keys.

[2018-06-02 22:05] samuel823 commented on #40
oh, becuase i saw that say has so many disparate data in amass, so that i was thinking maybe i need to put api

[2018-06-03 05:56] #40 closed

[2018-06-03 05:58] samuel823 opened #41 "hi"
if i put amass -brute -df domain.file , it is just brute domain.file right? or brute and searching domain on internet

[2018-06-03 12:58] IsrSahilMk opened #42 "No names were discovered"
Hi There,

I'm having a `No names were discovered` whenever I do `amass -d example.com`. I've tried the same with the `-active` arg and also with specifying DNS resolvers as well. But i'm still getting `No names were discovered`.

[code]

[2018-06-03 13:30] IsrSahilMk commented on #42
Its working now. Idk what was going wrong. I also tried using amass on my vps while creating this issue but it gave the same error there as well. But now its working, could you please describe what was going wrong so that i'll keep that in mind and will help preventing such issues.

[2018-06-03 14:39] Ice3man543 commented on #39
Hey @securitybites, miekg/dns requires go1.10+ to work correctly. Upgrading your golang version to 1.10 will do the trick.

[2018-06-03 17:15] caffix commented on #39
Thank you, @Ice3man543. And @securitybites, using go1.10+ is also an Amass requirement mentioned in the installation instructions, which would explain why we have not experienced this issue previously.

[2018-06-03 17:15] #39 closed

[2018-06-03 17:40] caffix commented on #41
The flags you identified require the tool to be used as follows: amass -brute -df file_with_domains.txt

[2018-06-04 07:37] phr0nak commented on #42
@IsrSahilMk I'm experiencing a similar issue plus another one that can be also related. Let me put some examples so you could test this again to confirm also happens on your side with the latest version of `amass` from the git repo.

If I run the command below, alI I get is a message saying `The configuration contains no wordlist`:

`amass -v -whois -active -freq 30000 -rf /tmp/resolvers.txt -o /t

[2018-06-04 14:36] caffix commented on #42
@phr0nak, thank you for the detailed information regarding the issue. I have discovered the root of the problem and will be pushing up the fix shortly.

[2018-06-04 14:41] phr0nak commented on #42
@caffix Thanks for the prompt response. Please let me know if you need further information.

[2018-06-04 14:43] caffix commented on #42
@phr0nak If you will confirm that the fix resolved the problem for you, then I'll close this issue. Thanks again!

[2018-06-04 14:54] phr0nak commented on #42
@caffix The problem with the `-rf` and `-r` flags has been resolved with the fix you've just pushed. However, it is still needed to set the `-w` flag with a dummy file even though the `-brute` is not used.

- Does **not** work (in all commands below, it returns `The configuration contains no wordlist` and never ends):

`amass -v -whois -active -freq 30000 -rf /tmp/resolvers.txt -o /tmp/results.txt

[2018-06-04 15:05] caffix commented on #42
@phr0nak The default word list is pulled from github. Does your environment allow for this to take place?

[2018-06-04 15:18] phr0nak commented on #42
@caffix When I'm running `amass -v -d example.com`, is the wordlist still required? As I said above, this command returns a `The configuration contains no wordlist` and never ends.

My environment has no limitations so I see no issue of `amass` pulling the word list from github, but, in what cases the wordlist will be used?

[2018-06-04 15:30] caffix commented on #42
@phr0nak Once upon a time, the word list was required even when brute forcing was not taking place, but after checking, I see that this is no longer the case. Thank you for discovering this and I'll push the fix shortly.

[2018-06-04 15:31] phr0nak commented on #42
Awesome. Thank you again.

[2018-06-04 15:40] caffix commented on #42
@phr0nak Please see if the fix I just pushed has resolved the problem for you. Thanks!

[2018-06-04 15:47] phr0nak commented on #42
Fixed. This issue can be closed. Thx!!

[2018-06-04 15:51] caffix commented on #42
Great! Please keep the feedback coming if you notice anything else.

[2018-06-04 15:51] #42 closed

[2018-06-04 15:51] IsrSahilMk commented on #42
Good work @phr0nak @caffix

[2018-06-04 18:16] superuser5 commented on #38
Hello,

thank you for fixing it, I am running the new version 2.0.2 and I have not reached the crash yet.
The bruteforce module started to brute force domains instead of subdomains, if I read it correctly.
Please see the log below.

[root@server]# /root/go/bin/amass -version
version v2.0.2

[root@server]# /root/go/bin/amass -active -brute -whois -v -ip -json log.json -o log.txt net -asn XXXX

[Bru

[2018-06-04 19:29] caffix commented on #38
@superuser5 The fix I pushed should help the brute force problem you discovered, but please keep in mind that, using the ASN-based active discovery and whois flag is likely to get you a lot of domain names.

[2018-06-06 17:29] superuser5 commented on #38
I run it several times on different servers, the new amass does not eat all the memory (previous version of amass consumed all available 47GB and crashed when all memory was consumed), but now it does not return domains at all.

log
# /root/go/bin/amass -version
version v2.0.3
#  /root/go/bin/amass -active -whois -v  -ip -brute -json amass_asn_enum.json -o amass_asn_enum.txt net -asn XXXX | tee am

[2018-06-06 17:53] menzow commented on #38
I have the same issues as @superuser5. Sadly I don't have accesss to any helpful logs at the moment.. I see there's been some big commits recently. Is there a change log or anything alike available somewhere? Would help me debugging my issues.

[2018-06-06 20:16] caffix commented on #38
I have found the likely cause for your issue and am working on it now. I would still caution you about using the -whois flag, since it sometimes returns odd results. Thank you for working with me on this bug.

[2018-06-06 21:16] caffix commented on #38
@menzow The -whois and net -asn flags cause additional domains to be added to the list, and all of those domains require that scraping be performed before DNS resolution takes place. Try reducing the number of domains being enumerated if you wish to reduce the run-time of the tool.

[2018-06-07 19:13] superuser5 commented on #38
sorry for the delay. thank you for all your work on this tool.

I run it again without -whois flag and with, the brute force keeps enumerating domains beyond the ASN and root domains, below are the 2 samples:

**Sample 1:**
$ ~/go/bin/amass -version
version v2.1.1
~/go/bin/amass -active -brute -v -ip -visjs report.html  -json report.json -o report.txt net -asn XXXX
The ASN relates to the company.

[2018-06-07 23:26] caffix commented on #38
Without knowing the ASN, it could be hard to continue troubleshooting this issue. Perhaps you can share it with me using more private messaging?

[2018-06-08 02:48] superuser5 commented on #38
another example:
$ uname -a
Darwin pc.local 17.5.0 Darwin Kernel Version 17.5.0: Fri Apr 13 19:32:32 PDT 2018; root:xnu-4570.51.2~1/RELEASE_X86_64 x86_64
$  ~/go/bin/amass -version
version v2.1.1
$ ~/go/bin/amass -active -brute -v -ip net -asn 15169
**No names were discovered**

[2018-06-08 03:51] superuser5 commented on #38
send you an email with details.

[2018-06-08 10:53] eur0pa opened #43 ""list" argument missing from reverse whois enumeration"
Hello,
it's probably on purpose but worth asking anyway: why was the `-l` option removed? It was particularly useful with `-whois` to avoid adding targets that, while having the correct reverse-whois, were obviously out of the scope of the main target.
Thanks!

[2018-06-08 10:56] phr0nak commented on #43
Thanks for reporting this @eur0pa .Also, I would like to notice that the `-o` flag was not working when the `-whois -l` was used. It would be helpful to save the output of `-whois -l` instead of having to redirect the stdout.

[2018-06-08 19:35] caffix commented on #43
@eur0pa @phr0nak I am restoring the '-l' list flag and making it possible to output the results to a file using the '-o' flag. Thank you for the feedback.

[2018-06-09 22:18] caffix commented on #43
Please indicate if the fix worked for you so we can close the issue. Thanks!

[2018-06-09 22:48] eur0pa commented on #43
Can confirm it's working again, thanks @caffix!

[2018-06-09 23:09] caffix commented on #43
Great!

[2018-06-09 23:09] #43 closed

[2018-06-10 04:08] superuser5 commented on #38
I think this issue can be closed, I run few times ASN enumeration and it didn't crash.

[2018-06-10 07:12] kerberosmansour opened #44 "Feature Request: Pause/Resume Scan"
Hey @caffix as a security engineer I might be enumerating a lot of domains, some will not be finised in one sitting (assuming its running on a workstation / pentest laptop and not a server). I would like the option to resume a scan from a known state.

NMAP has done this by pointing a new scan to a previous scan ouput file and nmap resumes from there.

I would like the ability to resume from file

[2018-06-10 07:16] kerberosmansour opened #45 "Feature Request: Pre-canned cipher queries for neo4j"
Now we have data in neo4j, as a secuity engineer I would like some quick analysis done on the data.
For example using the page rank algorithm and find the outliers (least connected nodes etc..) so I have an idea where potentially the weakest links in the chain might be.

[2018-06-10 07:19] kerberosmansour opened #46 "Feature Request: Validating Live Domains"
Some of the feeds might contain stale data, I would like to validate that they domains provided are infact alive and well.

[2018-06-10 07:33] kerberosmansour opened #47 "Feature Enhancement: From an ASN/CIDR/IP, enumerate the partent domains hosted on those systems"
So we can now scan by ASN/CIDR/IP and find FQDNs/Subdomains on those systems. I would like to take it a step further and find out there else are these domains hosted.

Example:
I run amass on a network range, it finds the following FQDNs:

- mail.example1.com
- ftp.example2.com
- vpn.example3.com
- origin.example4.com

I want a command that lets Amass scan the domains above (example1.com, example2

[2018-06-10 07:43] kerberosmansour opened #48 "Beyond Amass: Features that move past enumeration"
This is a feature that might not fit Amass, but is more about what to do with the data:

- Take snapshot of the homepage of each subdomain, present it with visjs in a report.
- Scan the subdomains on common ports, (perhaps have smart filters for known ports on known subdomain names e.g. ftp.example.com, mail.example.com etc..).
- Enumerate the technologies running on an FQDN (language/framework/CM

[2018-06-10 16:17] caffix commented on #38
Great to hear! Some good fixes and performance enhancements are coming shortly as well.

[2018-06-10 16:17] #38 closed

[2018-06-12 12:10] BSick7 opened #49 "error logging"
It would be great to have a debug option to turn on logging.
Specifically, many services use `GetWebPageWithDialContext` with the following:
[code]

I would love to know the reason why errors may have occurred.

[2018-06-13 00:36] unl1k3ly commented on #43
@caffix pretty sure after restoring the `l` flag `-json` output isn't working anymore.

[2018-06-13 01:09] caffix commented on #43
@unl1k3ly I just tested it, and the JSON output is working nicely. I'll be pushing this update to the repo tomorrow.

[2018-06-16 19:39] kerberosmansour opened #52 "Error when running with VISJS output on MacOS"
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x8 pc=0x1404585]

goroutine 7 [running]:
github.com/caffix/amass/amass.WriteVisjsFile(0x7ffeefbff9f7, 0x8, 0x0)
	/Users/user1/go/src/github.com/caffix/amass/amass/amass.go:117 +0x95
main.manageOutput(0xc42008e660)
	/Users/user1/go/src/github.com/caffix/amass/main.go:379 +0

[2018-06-17 02:43] #52 closed

[2018-06-17 02:47] caffix commented on #52
Thank you for noticing this bug, @kerberosmansour. It should be all set now

[2018-06-19 16:58] superuser5 opened #53 "Feature Request: output all formats option (like -oA option in nmap)"
Hi,
There several options for the output that saves data in to different files, would be great to have one option to output to all formats, for example:
-oA amass_scan
instead of:
-log amass_scan.log -o amass_scan.txt -visjs amass_scan.html -json amass_scan.json
many thanks!

[2018-06-20 01:52] caffix commented on #53
@superuser5 Thank you for the excellent feature request! It has been implemented as you suggested.

[2018-06-20 01:52] #53 closed

[2018-06-21 16:50] superuser5 opened #54 "Feature Request: SOCKS5 proxy support"
Hello,

would be great to have support for socks proxy like shadowsocks or just specify which proxy to use, especially important when using active recon.

[2018-06-21 17:07] superuser5 opened #55 "Feature Enhancement: add extra information about the found domain to the json output"
Hello,
Thanks for making tool so cool! I am redoing this request as the json output already has a lot of data.
It is still not enough to decide if some should be in scope for the organization.

The following additional information (in the json file) will help to decide if domain is in scope:
- reason why this domain was included - like cert that matches something.com, name server, org name, cidr,

[2018-06-21 19:24] #49 closed

[2018-06-23 00:00] superuser5 opened #56 "amass panic on gocrawl.(*Crawler).collectUrls"
Hi,
I am running amass in the following way and running in to the following panic (I know that whois option could be a killer, so I will run again without whois):

**flags:**
~/go/bin/amass -active -whois -v -ip -brute -oA amass_asn -r 1.1.1.1,209.244.0.3,209.244.0.4,64.6.64.6,64.6.65.6,8.8.8.8,8.8.4.4,84.200.69.80,84.200.70.40,8.26.56.26,8.20.247.20,208.67.222.222,208.67.220.220,199.85.126.10,199

[2018-06-25 03:27] averagesecurityguy opened #57 "Cannot allocate memory"
Version
----
version v2.3.0

Command
----
amass -d yahoo.com

Error
----
[code]

[2018-06-27 22:19] #56 closed

[2018-06-27 22:19] #57 closed

[2018-07-01 10:19] Damian89 opened #58 "amass not working with absolute paths"
Hi,
currently amass seems not to work with absolute paths for wordlist and resolverlist:

__Command__
[code]

__Errors:__
[code]

__Both files exist and are valid:__
[code]

Using an absolute path for "-o" (output file) works like charm...

Am I doing something wrong?

Best regards

[2018-07-01 11:34] Damian89 commented on #58
Ok, tested a little but on an up2date vagrant box and everything worked out fine. Both servers run with go 1.10.1 but the one with errors shown above used the amass version installed via snap and the vagrant box used the one using "go get".

Solution: deleted the snap version and installed via go get!

[2018-07-01 11:34] #58 closed

[2018-07-05 19:22] sethsec opened #59 "Feature Enhancement: Provide option that will tell user what will happen before sending any packets"
It would be nice to have the ability to tack on an arg that will take all other command line input, and display what amass will do. Almost a dry run.

For example:

```amass -d domain.com -active -brute -min-for-recursive 3 net --cidr 10.0.0.0/24 -<new or current arg>```

Output:
[code]
The idea is to provide the user a little bit more info so they can determine

[2018-07-05 20:37] superuser5 opened #60 "Feature Enhancement: add constraints to the search"
Would be awesome to be able to put constraints on searches to the known values (IP ranges / cert info / string in whois record ) and with logic OR/AND.  The contrains feature could just look for known strings in different areas like whois records or certificate information (whois records could be very messy, so checking if known name of the organization present anywhere in the whois response shoul

[2018-07-24 18:47] caffix commented on #47
This issue has been moved to the official OWASP Amass repository.

[2018-07-24 18:47] #47 closed

[2018-07-24 18:48] caffix commented on #46
This issue has been moved to the official OWASP Amass repository.

[2018-07-24 18:48] #46 closed

[2018-07-24 18:48] caffix commented on #45
This issue has been moved to the official OWASP Amass repository.

[2018-07-24 18:48] #45 closed

[2018-07-24 18:48] caffix commented on #44
This issue has been moved to the official OWASP Amass repository.

[2018-07-24 18:48] #44 closed

[2018-07-24 18:53] caffix commented on #54
This issue has been moved to the official OWASP Amass repository.

[2018-07-24 18:53] #54 closed

[2018-07-24 18:55] caffix commented on #59
This issue has been moved to the official OWASP Amass repository.

[2018-07-24 18:55] #59 closed

[2018-07-24 18:57] caffix commented on #55
This issue has been moved to the official OWASP Amass repository.

[2018-07-24 18:57] #55 closed

[2018-07-24 19:00] caffix commented on #60
This issue has been moved to the official OWASP Amass repository.

[2018-07-24 19:00] #60 closed

[2018-07-24 21:07] caffix commented on #48
This issue has been moved to the official OWASP Amass repository.

[2018-07-24 21:07] #48 closed

[2018-07-31 12:54] ethicalbughunter opened #64 "unable to use amass -d example.com (i am only able to use amass -nodns -d example.com)"
When I fire up amass with a simple command as " amass -d example.com " it hangs up and giving no result on the screen.

Device: System kali Linux 4.15.0-kali2-amd64

it only works when I used amass -nodns -d example.com

Any Suggestions?
or my device missing some sort of things
please add any installation guide which is not mentioned on https://github.com/OWASP/Amass
likely(go build commands after

[2018-08-01 20:13] caffix commented on #64
All issued are to be submitted at the official repo: https://github.com/OWASP/Amass

[2018-08-01 20:13] #64 closed

[2018-09-23 22:26] yurivict opened #65 "'amass -d doctorlan.com' fails to find subdomains"
2.6.x found them, but 2.7.0 returns nothing.

[2018-09-23 22:26] #65 closed

[2019-01-22 12:42] kanav-raina opened #66 "Not working"
I just install amass and run this command  amass -d google.com
and getting this error
"Get https://raw.githubusercontent.com/OWASP/Amass/master/wordlists/namelist.txt: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)
"
Please tell me why i am getting this error.
Thanks in advance!

[2019-01-22 12:43] kanav-raina commented on #66
![screenshot at 2019-01-22 17-36-28](https://user-images.githubusercontent.com/29794748/51536386-64a23300-1e71-11e9-81c6-cbbbd3e67b9c.png)

[2019-01-22 22:04] caffix commented on #66
The tool reaches out to get that wordlist by default. It appears that the connection is being blocked.

Please post future issues at the official repo: [OWASP Amass](github.com/OWASP/Amass)

Thank you!

[2019-01-22 22:04] #66 closed

[2019-04-12 08:22] icezhaoL opened #67 "unstable"
amass  Interruption during grabbing
![image](https://user-images.githubusercontent.com/14086616/56022538-827b8780-5d3e-11e9-983a-46b7e7d01339.png)

amass_data.json  Display many collected domain names
![image](https://user-images.githubusercontent.com/14086616/56022598-a212b000-5d3e-11e9-8ec2-a72b6cb91337.png)

amass.txt  just Get a little domain name

![image](https://user-images.githubuserconten

[2019-04-12 19:24] caffix commented on #67
Please upgrade to the latest version and try again. If you continue to experience problems, then please post your issue at the [official project repo](https://github.com/OWASP/Amass)

[2019-04-12 19:24] #67 closed

[2019-07-15 08:29] zerohax opened #68 "Amass output is incomplete when ran from Windows Task Scheduler"
We are using this tool to automate domain discovery. We used its binary (.exe), but when ran from task scheduler, output is incomplete/much less compared to when I run it on terminal.

[2019-07-15 20:10] caffix commented on #68
Please post this issue in the [official repo](https://github.com/OWASP/Amass)

[2019-07-15 20:10] #68 closed

[2019-09-29 21:21] pctripsesp opened #69 "Dokerfile creates <none> image"
when building Dockerfile it creates an amass image (or whatever name you put) and another image called < none > with 693MB

what is the content of the second one? can you name it from Dockerfile build?

[2019-11-28 08:11] caffix commented on #69
This issue has not been posted with the official repository

[2019-12-06 13:51] #69 closed

[2021-12-11 12:18] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:18] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:18] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:18] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:18] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:18] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:18] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:18] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:18] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:18] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:18] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:18] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:18] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
$%7bj$%7bemmzmb%3aTOIQoS%3aDEqryH%3aNrmiv%3aFgr%3a-n%7d$%7bUbsJz%3aPJJF%3aESKx%3aARhP%3atLykh%3a-d%7di%3al$%7bIQHsNp%3audsv%3arXn%3a-d%7da$%7bEMjmT%3adEC%3a-p%7d%3a//1639225141733FLHQU.mkhlcj.dnslog.cn/978606%7d

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 12:19] foozzi commented on #17
@caffix hi
amass v3.15.2
i tried scanning a domain on my pc and got clean results

but when I tried to scan on my remote server I got a lot of fake subdomains
how to fix this problem?

just run `amass enum -ip -brute -d domain`

[2021-12-11 14:31] foozzi opened #72 "[question] how to fix false positive result?"
https://github.com/caffix/amass/issues/17 same problem

how to fix false positive?

amass enum -ip -brute -d domain.com

[2021-12-11 14:32] #72 closed

[2022-09-28 05:16] ryoma30 opened #73 "Requests are not sent during the process."
For a domain found in passive mode with approximately 5,000 IPs, attempting to obtain IPs in active mode will yield no results after approximately 3,000 are found.
The process remains, but the new subdomain does not appear.
Also, when I check with the local proxy, requests are no longer being sent.

command:
`amass enum -ip -rf resolvers.txt -config config.ini `

config.ini:
[code]

[2022-09-28 05:20] #73 closed

[2022-09-28 05:20] ryoma30 commented on #73
https://github.com/OWASP/Amass/issues/877